<!DOCTYPE html>
<html ng-app="fbVizApp" id="fbVizApp">
	<head>
		<title>FBViz</title>
		<link rel="stylesheet" type="text/css" href="/css/splash.css"/>
		<script src='//connect.facebook.net/en_UK/all.js'></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
		<script src='/js/xml2json.js'></script>
		<script src='/js/angular/splashctl.js'></script>
	</head>	
	<body ng-controller="splashctl">
		<div class="container">
			<div class="date" ng-class="checks[0]">
				<form novalidate>
		    		<input id="startForm" type="date" ng-click="updateDate()" ng-model="startRange"/><br/>
		    		<input id="endForm" type="date" ng-click="updateDate()" ng-model="endRange"/><br/>
		    		<a id="kml-download" ng-click="download()" ng-href="https://maps.google.com/locationhistory/b/0/kml?startTime={{startSecs}}&endTime={{endSecs}}" target="_self">Download KML</a>
		  		</form>
		  	</div>
		    <div class="fb" ng-class="checks[2]">
		    	<form>
		    		<button ng-click="login()">Login to FB</button>
		    	</form>
		    </div>
		    <div class="upload" ng-class="checks[1]">
				<form class="upload" method='post' action='upload' enctype="multipart/form-data">
		    		<input type='file' ng-click="upload()" name='fileUploaded'>
		    		<button ng-hide="go">submit</button>
		    	</form>
		    </div>
		</div>
	</body>	
</html>
