@import url('http://fonts.googleapis.com/css?family=Raleway');
html, body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 100%; }

* {
  font-family: 'Raleway', 'Arial', 'sans-serif'; }

body {
  line-height: 1; }
  body .container {
    width: 800px; }
    body .container slider {
      width: 100%; }
    body .container .full-wrapper {
      width: 100%; }
      body .container .full-wrapper .posts {
        background-color: #f5f5f5; }
        body .container .full-wrapper .posts #time {
          font-size: 10px; }
        body .container .full-wrapper .posts #status {
          font-size: 15px; }
    body .container #control-bar {
      width: 50%;
      margin-left: 25%;
      margin-right: 25%; }
      body .container #control-bar button {
        text-align: center;
        padding-top: 5px;
        padding: 9px 18px;
        font-size: 20px;
        background-color: #3071a9;
        border-radius: 10px;
        border-color: #285e8e;
        color: white;
        vertical-align:middle;
        border: 1px solid black; }
        body .container #control-bar button:hover {
          opacity: 0.7;
          cursor: pointer; }

#play{
  background-image: url('/assets/play.png');
}

.header1 {
  font-weight: bold;
  font-size: 25px;
  padding: 5px; }

.centered {
  text-align: center; }

#top-buttons{
  margin-top: 10px;
}

slider{
  width: 800px;
}
#map { 
  position: absolute;
  top: 0;
  bottom: 45%;
  left: 0;
  right: 0;
}

#control-bar {
  position: absolute;
  top: 60%;
  width: 100%;
}

#dates {
  width:100%;
  bottom: 0;
  text-align: center;
}

form {
  bottom: 0;
}

