* {
  	font-family: 'Raleway', 'Arial', 'sans-serif'; 
}

h1{
	font-size: 70px;
	text-align: center;
	margin-left: auto;
	margin-top: 20px;
	margin-bottom: 50px;
}
h2{
	text-align: center;
	margin-left: auto;
	margin-top: 50px;
}

div.date,div.upload,div.fb{
	height: 35px;
	width: 35px;
}

.wrapper {
	width:100%;
	text-align: center;
	overflow: auto;
	margin: 0 auto;
}

div.check,div.x {
	border: 25px solid;
	background-size: 60px 60px;
	background-repeat: no-repeat;
	background-position: center;
    border-radius: 25px;
	vertical-align: center;
	margin: 20px;
	margin-left: 30%;	
	padding: 25px;
	float:left;
}

div.x {
	background-image: url('/assets/xlight.png');
	border-color: #D6D6D6;
}
div.check {
	background-image: url('/assets/checklight.png');
	border-color: #99D6AD;
}

form {
	width: 300px;
	height: 100%;
	border-style: none;
	font-size: 20px;
	background-color: #3071a9;
    border-radius: 10px;
    border-color: #285e8e;
    color: white;
	padding: 15px;
	float:left;
	margin:20px;
}

#startForm,#endForm,#fileForm{
	width:200px;
}

input {
	padding: 14px;
	margin: 8px;
	font-size: 15px;
}

a {
	color: white;
	text-decoration: underline;
}

#fileForm{
	font-size: 15px;
}
button{
	width:100%;
	font-size: 20px;
	color: white;
	background-color: #3071a9;
    border:none;
    text-decoration: underline;
}